<div class="container-sm px-4 px-lg-5">
  <div class="d-flex align-items-center gap-3 px-3 top-bar mb-4">

    <%# search for user_decks %>
    <div class="flex-grow-1 my-2 rounded-5 search-form">
      <%= simple_form_for :search, url: user_decks_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required bg-light px-4" type="text" name="search[query]" id="search_query" placeholder="Search your decks" />
          <button name="button" type="submit" class="btn btn-light rounded-end-5 px-4 py-2">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>
    </div>

    <%# button to create a new deck %>
    <div class="align-items-center">
      <a href="<%= new_deck_path %>" class="btn btn-success rounded-5">
        <p class="font-weight-bold m-0 px-2 fs-3 ">+</p>
      </a>
    </div>
  </div>
</div>


<div class="container py-5">
  <!-- User Decks grid -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
    <% @user_decks.each do |user_deck| %>
      <div class="col">
        <div class="card h-100 shadow-sm border-0" style="min-height: 190px;">
          <div class="card-body user-decks">
            <div onclick="window.location='<%= user_deck_user_card_path(user_deck, user_deck.next_user_card_for(user_deck)) %>'" style="cursor: pointer;" role="link">
              <div class="d-flex justify-content-between align-items-center">
                <h2 class="h5 card-title mb-2">
                  🗂️ <%= user_deck.deck.title %>
                </h2>
                <%= form_with url: user_deck_path(user_deck), method: :delete, local: true, html: { style: 'display:inline' } do %>
                  <%= button_tag type: 'submit', class: 'btn px-2 mx-3 delete-button', style: 'background-color: rgba(120, 120, 120, 0.12); color: #000000ff; border: none; border-radius: 6px;', data: { turbo_confirm: "Are you sure?" }, onclick: 'event.stopPropagation();' do %>
                    <i class="fa-regular fa-trash-can px-1"></i>
                  <% end %>
                <% end %>
              </div>

              <p class="mb-2">
                <span class="badge bg-light-subtle text-muted border border-muted rounded-pill">
                  <%= user_deck.deck.source_language %>
                </span>
                →
                <span class="badge bg-success-subtle text-success border border-success rounded-pill">
                  <%= user_deck.deck.target_language %>
                </span>
              </p>

                <p class="fs-3 fw-semibold pt-2 my-0">
                  <div class="practice-progress">
                    <div class="progress-bar-wrapper">
                      <div class="progress-bar-track">
                        <div class="progress-bar-fill" style="width: <%= user_deck.progress_percent %>%"></div>
                      </div>
                      <div class="progress-counter fs-5 ms-2">
                        <%= user_deck.progress_percent %>%
                      </div>
                    </div>
                  </div>
                </p>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @user_decks.empty? %>
    <p class="text-center text-muted mt-4">
      You have no decks yet – create one or look through the community decks!
    </p>
  <% end %>
</div>
