<div class="d-flex align-items-center gap-3 px-3 top-bar">
  <%# search for user_decks %>
  <div class="flex-grow-1 my-2 rounded-5 search-form">
    <%= simple_form_for :search, url: user_decks_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required bg-light px-4" type="text" name="search[query]" id="search_query" placeholder="Search your decks" />
        <button name="button" type="submit" class="btn btn-light rounded-end-5 px-4 py-2">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>

  <%# button to create a new deck %>
  <div class="align-items-center">
    <a href="<%= new_deck_path %>" class="btn btn-success rounded-5">
      <i class="fa-regular fa-circle-plus fs-3 p-1 py-2"></i>
    </a>
  </div>
</div>

  <%# button to browse other decks %>
<div class="px-3 mb-4">
  <%= link_to decks_path, class: "btn d-flex align-items-center w-100 px-4 py-2 rounded-pill bg-white border-0 shadow-sm text-dark" do %>
        <i class="fa-regular fa-circle-left d-flex align-items-center justify-content-center"></i>
    <p class="fw-normal mb-0 ms-3">
      <strong>Browse other decks</strong>
    </p>

  <% end %>
</div>


<%# List of user decks %>
<ul>
  <% @user_decks.each do |user_deck| %>
    <li>
      <%= link_to user_decks_path do %> <%# user_card_path(user_deck) %>
        <div class="container-fluid">
          <div class="card-product d-flex justify-content-between rounded-5 mb-3">
            <div class="card-product-infos">
              <div class="d-flex justify-content-between align-items-center">
                <h2><%= user_deck.deck.title %></h2>
                <%= link_to user_decks_path(@user_deck), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-regular fa-trash-can text-danger px-3"></i>
                <% end %>
              </div>
              <p><%= user_deck.deck.source_language %> -> <%= user_deck.deck.target_language %></p>
            </div>
            <div class="bg-light">
              <div class="d-flex align-items-center justify-content-center px-4 py-5 bg-light ">
                <p class="fs-3 fw-semibold">xx%</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>





<%# this is a test user deck %>
<div class="container-fluid">
  <div class="card-product d-flex justify-content-between rounded-5 mb-3">
    <div class="card-product-infos">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Visit to the doctor</h2>
        <%= link_to user_decks_path(@user_deck), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-regular fa-trash-can text-danger px-3"></i>
        <% end %>
      </div>
      <p>English -> German</p>
    </div>
    <div class="bg-light">
      <div class="d-flex align-items-center justify-content-center px-4 py-5 bg-light ">
        <p class="fs-3 fw-semibold">60%</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card-product d-flex justify-content-between rounded-5 mb-3">
    <div class="card-product-infos">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Discussion about balance sheet</h2>
        <%= link_to user_decks_path(@user_deck), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-regular fa-trash-can text-danger px-3"></i>
        <% end %>
      </div>
      <p>Spanish -> German</p>
    </div>
    <div class="bg-light">
      <div class="d-flex align-items-center justify-content-center px-4 py-5 bg-light ">
        <p class="fs-3 fw-semibold">23%</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card-product d-flex justify-content-between rounded-5 mb-3">
    <div class="card-product-infos">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Ordering in a restaurant</h2>
        <%= link_to user_decks_path(@user_deck), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-regular fa-trash-can text-danger px-3"></i>
        <% end %>
      </div>
      <p>English -> French</p>
    </div>
    <div class="bg-light">
      <div class="d-flex align-items-center justify-content-center px-4 py-5 bg-light ">
        <p class="fs-3 fw-semibold">73%</p>
      </div>
    </div>
  </div>
</div>
