<div class="container py-5">
  <!-- Page heading -->
  <header class="text-center mb-5">
    <span class="badge bg-white text-success border border-success mb-3">
      Community decks
    </span>
    <h1 class="h2 fw-bold mb-2">CrashCard decks from the Community</h1>
    <p class="text-muted mb-0">
      Recently created decks you can explore and reuse.
    </p>
  </header>

  <!-- Decks grid -->
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @decks.each do |deck| %>
      <div class="col">
        <div class="card h-100 shadow-sm border-0" style="min-height: 190px;">
          <div class="card-body decks">

              <h2 class="h5 card-title mb-2 mt-1">
                🗂️ <%= link_to deck.title, deck_path(deck), class: "stretched-link text-decoration-none text-dark" %>
              </h2>

            <% if deck.target_language.present? %>
              <p class="mb-2">
                <span class="badge bg-light-subtle text-muted border border-muted rounded-pill">
                  <%= deck.source_language %>
                </span>
                →
                <span class="badge bg-light-subtle text-muted border border-muted rounded-pill">
                  <%= deck.target_language %>
                </span>
              </p>
            <% end %>

            <p class="text-muted mb-0">
              <%= deck.cards.count %> CrashCards in this deck
            </p>

            <p class="card-text text-muted mb-0 mt-1">
              <%= l deck.created_at.to_date, format: :short %>
            </p>

            <div class="d-flex justify-content-end mt-3">
              <div class="mt-auto p-2">
                <%= form_with url: user_decks_path, method: :post, local: true, html: { style: 'display:inline' } do %>
                  <%= hidden_field_tag :deck_id, deck.id %>
                  <%= button_tag 'Add to my decks', type: 'submit', class: 'btn btn-success px-3 py-2', style: 'position: relative; z-index: 2;', onclick: 'event.stopPropagation();', aria: { label: "Add deck" } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @decks.empty? %>
    <p class="text-center text-muted mt-4">
      No community decks yet – be the first to create one!
    </p>
  <% end %>
</div>
